h1,h2 {
    margin: 0;
}
.page {
  max-width: min(880px, 69vw);
  
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: max(320px, 69vw);
  }
}

.header {
  border: 1px solid red;
  min-height: 50px;
}

.content {
  border: 1px solid blue;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: max(282px, 69vw);
  }  
}

.element {
  width: 100%;
  height: 150px;
  background-color: blue;
}

.footer {
  border: 1px solid pink;
  min-height: 50px;  
}